.box {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: BoxRun 5s linear infinite; 
}

@keyframes BoxRun {
    0% {
      transform: translateY(0) translateX(0); 
      background-color: red; 
    }
    25% {
      transform: translateY(500px) translateX(0); 
      background-color: blue; 
    }
    50% {
      transform: translateY(500px) translateX(500px); 
      background-color: green; 
    }
    75% {
      transform: translateY(0) translateX(500px); 
      background-color: yellow; 
      
    }
    100% {
      transform: translateY(0) translateX(0); 
      background-color: red; 
    }
  }
